<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<% include partials/_header %>
  <h2>Sites</h2>
  <%console.log(urls)%>
  <%for (var property in urls) {%>
      <%//console.log("This is property:"+);%> 
          <li><%=urls[property]["shortURL"]%>  -
          <%- "<a href ='http://localhost:8080/u/"+encodeURI(urls[property]["shortURL"])+"'>"%>
          <%=encodeURI(urls[property]["longURL"])%></a>
          <%-"<form action=/urls/"+encodeURI(urls[property]["shortURL"])+"/delete  method = \'post\' >"%>
          <%console.log("<form action=/urls/"+encodeURI(urls[property]["shortURL"])+"/delete  method = \'post\' >")%>
          <input type='submit' value='DELETE'>
          </form>
         
          <%-"<form action='/urls/"+encodeURI(urls[property]["shortURL"])+"' method=\'get\'>"%><input type='submit' value='EDIT'>
          </form></li>
   <%}%>
  <a href= http://localhost:8080/urls/new>Create a New Short Link</a>
 
</body>
</html>